<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zad Al-Khair @ViewData["Title"]</title>
    <link rel="icon" href="~/images/Logo.jpeg" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/hover.css/css/hover-min.css" />
    <link rel="stylesheet" href="~/lib/flip-cards/hamburger/css/style.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    @*Link Swiper's CSS*@
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    @* Google Font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/css/AboutUs.css" />
    <link rel="stylesheet" href="~/css/ContactUs.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body onscroll="controllNavBar()">
    <header>
        <div class="sidebar-bg"></div>
        <aside class="sidebar px-4 py-3">
            <button type="button" onclick="closeSidebar()" class="close btn-close text-white position-fixed" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <nav>
                <ul>
                    <li class="mb-3">
                        <a asp-action="Index" asp-controller="Home" class="text-white">Home</a>
                    </li>
                    <li class="mb-3">
                        <a asp-action="AboutUs" asp-controller="Home" class="text-white">About Us</a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="text-white">Our Services</a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="text-white">Blog</a>
                    </li>
                    @*<li class="mb-3">
                            <a href="#" class="text-white">Career</a>
                        </li>*@
                    <li class="mb-3">
                        <a asp-action="Create" asp-controller="Contacts" class="text-white">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <nav class="fixed-top bg-transparent">
            <div class="container-fluid d-flex justify-content-between w-100" id="nav-container">
                <img src="~/images/Logo.jpeg" class="logo-img-1" alt="logo" id="logo">

                <ul class="d-flex">
                    <li class="text-white pt-4">TOLL FREE: 800 – KNOX (5669)</li>
                    <li class="pt-4 mx-4">
                        <div onclick="showSideBar()" class="hamburger">
                            <div class="top-bun"></div>
                            <div class="meat"></div>
                            <div class="bottom-bun"></div>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="text-muted mt-5">
        @*<div class="subscribe-area py-5 text-white" style="background-color: #282828;">
                <h3 class="mb-4 text-center">Newsletter</h3>
                <p class="text-center">Subscribe to our newsletter and get tuned with our latest updates</p>
                <div class="d-flex justify-content-center">
                    <input type="text" class="subscribe-search py-2 position-relative pl-3" placeholder="Enter your mail" />
                    <button class="btn btn-subscribe rounded-0 px-3 text-white position-relative">SUBSCRIBE</button>
                </div>
            </div>*@

        <div class="footer-wrapper">

            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">

                                    <div class="footer-logo mb-35">
                                        <img src="/images/Logo.jpeg" class="logo-img-1" style="mix-blend-mode: multiply" alt="">
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>
                                                Duis aute irure dolor inasfa reprehenderit in voluptate velit esse cillum
                                            </p>
                                        </div>
                                        <ul class="mb-20">
                                            <li class="number">
                                                <a href="tel:+971562772813">
                                                    +971562772813
                                                </a>
                                            </li>
                                            @*<li class="number2">
                                                    <a href="#">
                                                        <span class="__cf_email__"
                                                              data-cfemail="5635393822373522163537242137253e7835393b">[email&#160;protected]</span>
                                                    </a>
                                                </li>*@
                                        </ul>

                                        <ul class="footer-social">
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li>
                                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook"></i></a>
                                            </li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-xl-1 col-xl-4 col-lg-4 col-md-8 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Navigation</h4>
                                    <ul>
                                        <li>
                                            <a href="#" class="mr-5">Home</a>
                                            <a href="#" class="ml-5">About</a>
                                        </li>
                                        @*<li><a href="#">About</a></li>*@
                                        <li class="my-4">
                                            <a href="#" class="mr-5">Services</a>
                                            <a href="#" class="ml-5">Blog</a>
                                        </li>
                                        @*<li><a href="#">Blog</a></li>*@
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                                <div class="single-footer-caption mb-50">
                                    <div class="footer-tittle">
                                        <h4>Services</h4>
                                        <ul>
                                            <li><a href="#">Drone Mapping</a></li>
                                            <li><a href="#"> Real State</a></li>
                                            <li><a href="#">Commercial</a></li>
                                            <li><a href="#">Construction</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle mb-50">
                                    <h4>Subscribe newsletter</h4>
                                    <p>Subscribe our newsletter to get updates about our services and offers.</p>
                                </div>

                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                              action="#"
                                              class="subscribe_form position-relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email"
                                                   placeholder="Email Address" class="placeholder hide-on-focus"
                                                   onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                        class="email_icon newsletter-submit button-contactForm">
                                                    <img src="~/images/icons/right-arrow3.svg" alt="" />
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved @*|
                                            This template is made with <i class="fa fa-heart color-danger"
                                                                          aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank"
                                                                                                        rel="nofollow noopener">Colorlib</a>*@
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@*<div class="container">
        &copy; 2021 - Zad - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>*@