
@{
    ViewData["Title"] = "About Us";
}

<div class="w-100 main-header">
    <h2 class="position-relative mx-auto item-center font-weight-bold">About Us</h2>
</div>

<section class="container my-5">
    <span>
        Experts in the field
    </span>
    <h3 class="mb-4">Introduction</h3>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p>
                <b>KNOX Technical Services LLC has emerged as one of the leading & innovative maintenance service providers in the Emirate of Dubai.</b>
            </p>
            <p>
                KNOX provides maintenance solutions to residential and commercial properties developed by Emaar, Nakheel, Union Properties in the areas including but not limited to Meadows, Springs, Lakes, Emirates Hills, Arabian Ranches, The Villa, JBR, JLT, Jumeirah Islands, Jumeirah Park, Umm Suqeim, Al Wasl, Green community, DIP, motor city, victory heights, Palm Jumeirah, Jebel Ali Free Zone.
            </p>
            <p>
                KNOX is also an active participant and sponsor for most of the events organized by property developers/managers.
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="text-justify">
                Unlike other maintenance service providers, KNOX doesn’t compel their client to be bound by a yearly contract for carrying out any of their maintenance related problems instead gives them the flexibility to call and pay us a competitive price only when there is a problem they face, on top of that KNOX is a licensed company to handle major projects like renovation of villas, structural modifications, swimming pool construction, interior fit-out works and much more. KNOX provides wide range of services and numerous solutions under one roof. With over a fleet of 40 maintenance vehicles and 30 teams KNOX is able to meet the increasing requirement of our customers at their favorable time. Our customized complete annual maintenance system software application is specially designed by pioneer software developers to cater to the business needs of maintenance industry.
            </p>
        </div>
    </div>

    <div class="my-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="h1" id="counter" data-target="20">0</div>
                <h6>TECHNICAL SERVICES</h6>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="h1" id="counter" data-target="480">0</div>
                <h6>PROJECTS COMPLETED</h6>
            </div>
            <div class="text-center col-md-6 col-sm-12 col-lg-3">
                <div class="h1" id="counter" data-target="50">0</div>
                <h6>PROFESSIONAL STAFF</h6>
            </div>
            <div class="text-center col-md-6 col-sm-12 col-lg-3">
                <div class="h1" id="counter" data-target="2000">0</div>
                <h6>HAPPY CUSTOMERS</h6>
            </div>
        </div>
    </div>
</section>

<section class="my-5 bg-1">
    <div style="position: absolute; top: 58.8rem; width: 100%; left: 0; height: 440px; background-color: rgba(0, 0, 0, 0.6);"></div>
    <div class="container-lg">
        <div class="row">
            <div class="col-md-6 col-sm-12 mt-10 text-white">
                <h4>OUR MISSION</h4>
                <p>
                    To Provide superior quality maintenance services that: Customers recommends to family and friends, Coordinator & Technicians prefer for their clients, purchasers select for their clients, Employees are proud of, and Investors seek for long term returns with repeated customers.
                </p>

            </div>
            <div class="col-md-6 col-sm-12 mt-10 text-white">
                <h4>OUR VISION</h4>
                <p>
                    At Knox our Vision is to create a better everyday life for our customers. Our business idea supports this vision by offering a wide range of well-designed, functional maintenance solutions at prices as low that as many people will be able to afford them.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <h2 class="text-center mb-5">MD’s Message</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="paragraph">
                    First of all I wish to thank you for visiting our website and favoring us with your attention. It is an honor that I greatly appreciate, and one which I wish to reciprocate by striving to meet your needs in my field of activity to the best of my ability.
                </p>
                <p class="paragraph">
                    Facilities management sector is the most challenging and awe inspiring one. Creating beauty calls for great passion. This field provides immense possibilities for our passionate engagement in creating excellent and health environment for human living. This in turn gives us the opportunity to touch the lives of others and derive satisfaction from making a worthwhile contribution through professional service. The markets that we operate are among the most vibrant ones. These are arenas that are most dynamic and highly competitive.
                </p>
                <button class="btn rounded px-4 py-2 hvr-shutter-in-horizontal" style="border: 1px solid; font-size: 15px;">Read More</button>
            </div>
            <div class="col-md-5 offset-md-1">
                <img src="~/images/mdbk.jpg" class="img-fluid" alt="mdbk">
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 22.5rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
                    <div class="card-body">
                        <img src="~/images/strong-team-1.jpg" class="card-img-top" alt="strong-team">
                        <div class="text-center mt-4">
                            <h5 class="card-title">Strong In-Country Team</h5>
                            <p class="card-text paragraph">We have a strong base in market we operate in. Our highly trained, professional and experienced staff has hands on expertise of their field.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 22.5rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
                    <div class="card-body">
                        <img src="~/images/moral-cond.jpg" class="card-img-top" alt="...">
                        <div class="text-center mt-4">
                            <h5 class="card-title">Moral Conduct</h5>
                            <p class="card-text paragraph">Our belief in gaining client’s trust and confidence is a very vital ingredient in the success of our Business. We ensure ethical conduct in all our undertakings.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card" style="width: 22.5rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
                    <div class="card-body">
                        <img src="~/images/customer-service1.jpg" class="card-img-top" alt="...">
                        <div class="text-center mt-4">
                            <h5 class="card-title">Customer Service</h5>
                            <p class="card-text paragraph">It is our continuous goal to ensure we are always far and beyond the expectations of our customers and clients. In a world with tons of competition.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="~/images/hse-dark.jpg" class="img-fluid" alt="hse-dark">
            </div>
            <div class="col-md-5 ml-3 px-0 col-sm-12 mt-4">
                <p class="font-weight-bold" style="line-height: 40px; font-size: 18px; font-family: 'Open Sans', sans-serif;">
                    KNOX is a firm believer that the business should be conducted in a manner so that it protects the health and safety of its employees, contractors and society at large, and the environment where it operates.KNOX is a socially responsible corporate entity. It is an advocate and a supporter of green initiatives. It believes in waste reduction, recycling and protection of environment.
                </p>
            </div>
        </div>
    </div>
</section>