@model IEnumerable<ZADALKHAIR.Models.Service>
@{
    ViewData["Title"] = "Services";
}
<div class="w-100 main-header">
    <h2 class="position-relative mx-auto item-center font-weight-bold">Our Services</h2>
</div>

