.bg-1 {
    background: url(../images/missViss-bg.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 440px;
}

.mt-10 {
    margin-top: 10rem;
}

.paragraph {
    letter-spacing: 2px;
    line-height: 30px;
    /*font-family: 'Antic Slab', serif;*/
    font-size: 15px;
}