@model ZADALKHAIR.Models.Service

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div>
            <form class="row" asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ServiceID" />
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Edit Serivce</h4>
                            <p class="card-category">Complete the Serivce Requaerment</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ServiceTitle" class="bmd-label-floating"></label>
                                        <input asp-for="ServiceTitle" class="form-control">
                                        <span asp-validation-for="ServiceTitle" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ServiceStartingPrice" class="bmd-label-floating"></label>
                                        <input asp-for="ServiceStartingPrice" class="form-control">
                                        <span asp-validation-for="ServiceStartingPrice" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="features" class="bmd-label-floating"></label>
                                        <textarea rows="5" asp-for="features" class="form-control"></textarea>
                                        <span asp-validation-for="features" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="ServiceDiscription"></label>
                                        <textarea asp-for="ServiceDiscription" rows="8" placeholder="Discription" class="form-control"></textarea>
                                        <span asp-validation-for="ServiceDiscription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary pull-right">Add Service</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                @*<div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-body">
                                <label class="text-white h3" asp-for="ServicePic"></label>
                                <div class="table-container">
                                    <div class="table-cell">
                                        <div id="profile">
                                            <div class="dashes"></div>
                                            <label>Click to browse</label>
                                        </div>
                                    </div>
                                </div>

                                <input type="file" id="mediaFile" asp-for="ServicePic" />
                                <span asp-validation-for="ServicePic" class="text-danger"></span>
                            </div>
                        </div>
                    </div>*@
                <div class="col-md-4">
                    <div class="card card-profile">

                        <div class="card-avatar">
                            <img style="width: 100px; height: 100px" src="~/images/profilePic/@Model.ServiceImage" />
                        </div>
                        <div class="my-4 ml-5">
                            <input type="file" class="choose" name="ServicePic" asp-for="ServicePic" />
                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        // ----- On render -----
        $(function () {

            $('#profile').addClass('dragging').removeClass('dragging');
        });

        $('#profile').on('click', function (e) {
            $('#mediaFile').click();
        });
        $('#mediaFile').change(function (e) {

            var input = e.target;
            if (input.files && input.files[0]) {
                var file = input.files[0];

                var reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $('#profile').css('background-image', 'url(' + reader.result + ')').addClass('hasImage');
                }
            }
        })
    </script>
}